<tr id="card-{{ card.id }}" card-id='{{ card.id }}'>
    <td>
        <p><a href="{{ url_for('main.deck_profile', deck_id=card.deck.id) }}">{{ card.get_deck_name() }}</a></p>
    </td>
    <td>
        <span class="card_popup">
            <p><a href="{{ url_for('main.edit_card', card_id=card.id) }}">{{ card.front }}</a></p>
        </span>
    </td>
    <td>
        {{ card.back }}
    </td>
    <td>
        {% if card.next_date %}
        {{ card.next_date.strftime('%Y-%m-%d') }}
        {% endif %}
    </td>
    <td>
        {{ card.bucket }}
    </td>
</tr>