{% import 'bootstrap/form.html' as wtf %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {% with error = form.errors %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% endwith %}
    <div class='form-group'>
        <label for="frontLabel">{{ form.front.label }}</label>
        {{ form.front(rows=1, placeholder='cat', class='form-control') }}
    </div>
    <div class="form-group">
        <label for="backLabel">{{ form.back.label }}</label>
        {{ form.back(rows=4, placeholder='an adorable creature that meow',
                     class='form-control, tinymce-editor') }}
    </div>
    <div class="row form-row">
        <div class='form-group col-md-3' id='tag-div'>
        <label>{{ form.tags.label.text }}</label>
        <select id="tags" name="tags" required class="selectpicker form-control"
                data-live-search="true" multiple mobile="true">
        {% if tag is defined %}
            <option id="selectedTag" value='{{ tag.name }}' selected>{{ tag.name }}</option>
        {% endif %}
        </select>
        </div>
    </div>
    <div class="row form-row">
        <div class="form-group col-md-3">
            {{ form.submit(class='btn btn-primary w-100') }}
        </div>
    </div>
</form>
