<div class="col-md-3 mb-lg-3 mt-2">
    <div id="deck-{{ deck.id }}" deck-id='{{ deck.id }}' class="card card-hover-shadow h-100">
        <div class="card-body">
            <h5 class="card-title mb-2">
                <a href="{{ url_for('main.deck_profile', deck_id=deck.id) }}">
                    {{ deck.name }}
                </a>
            </h5>
            <p class="card-text tinymce-display small text-secondary" style="height: 50px">{{ deck.preview_description() }}</p>
            <div class="row align-items-center">
                <div class="col-12">
                    <span class="card-title text-secondary small">{{ deck.cards.count() }} cards</span>
                </div>
            </div>
        </div>
    </div>
</div>
