{% import 'bootstrap/form.html' as wtf %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {% with error = form.errors %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% endwith %}
    <div class='form-group'>
        <label for="frontLabel">{{ form.front.label }}</label>
        {{ form.front(rows=1, placeholder='study', class='form-control') }}
    </div>
    <div class="form-group">
        <label for="backLabel">{{ form.back.label }}</label>
        {{ form.back(rows=4, placeholder='look at closely in order to observe or read',
                      class='form-control') }}
    </div>
    <div class="row form-row">
        <div class='form-group col-md-3'>
        <label>{{ form.deck.label.text }}</label>
            {{ form.deck(class='form-control') }}
        </div>
        <div class='form-group col-md-2'>
            <label>{{ form.start_date.label.text }}</label>
            {{ form.start_date(class='form-control') }}
        </div>
        {% if mode == 'edit' %}
        <div class='form-group col-sm-1'>
            <label>{{ form.bucket.label.text }}</label>
            {{ form.bucket(class='form-control') }}
        </div>
        <div class='form-group col-md-2'>
            <label>{{ form.reverse_asking.label.text }}</label>
            {{ form.reverse_asking(class='checkbox') }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="exampleLabel">{{ form.example.label }}</label>
        {{ form.example(rows=4, placeholder='She bent her head to study the plans!',
                        class='form-control') }}
    </div>
    <div class="form-group">
        <label for="sourceLabel">{{ form.source.label }}</label>
        {{ form.source(rows=1, placeholder='https://www.google.com',
                       class='form-control') }}
    </div>
    <div class="row form-row">
        <div class="form-group col-md-3">
            {{ form.submit(class='btn btn-primary col-md-12') }}
        </div>
    </div>
</form>