{% import 'bootstrap/wtf.html' as wtf %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {% with error = wtf.form_errors(form) %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <label for="frontLabel">{{ form.front.label }}</label>
        {{ form.front(rows=1, placeholder='study',
                      class='form-control') }}
    </div>
    <div class="form-group">
        <label for="backLabel">{{ form.back.label }}</label>
        {{ form.back(rows=4, placeholder='look at closely in order to observe or read',
                      class='form-control') }}
    </div>
    <div class="form-group">
        <label for="deckLabel">{{ form.deck.label }}</label>
        {{ form.deck(class='form-control') }}
    </div>
    <div class="form-group">
        <label for="startDateLabel">{{ form.start_date.label }}</label>
        {{ form.start_date(class='form-control') }}
    </div>
    <div class="form-group">
        <label for="bucketLabel">{{ form.bucket.label }}</label>
        {{ form.bucket(rows=1, placeholder=1, class='form-control') }}
    </div>
    <div class="form-group">
        <label for="exampleLabel">{{ form.example.label }}</label>
        {{ form.example(rows=4, placeholder='She bent her head to study the plans!',
                        class='form-control') }}
    </div>
    <div class="form-group">
        <label for="sourceLabel">{{ form.source.label }}</label>
        {{ form.source(rows=1, placeholder='https://www.google.com',
                       class='form-control') }}
    </div>
    <div class="form-group">
        <label for="reverseAskingLabel">{{ form.reverse_asking.label }}</label>
        {{ form.reverse_asking(rows=1, placeholder='https://www.google.com',
                       class='form-control') }}
    </div>
    <p>{{ form.submit(class='btn btn-default') }}</p>
</form>