{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}
{% block app_content %}
<h4 class='text-secondary'>Statistics</h4>
<div class="row mb-lg-5">
  <div class="col-md-4">
    <!-- Card -->
    <div class="card card-hover-shadow h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-secondary">Objective</h6>
        <div class="row align-items-center mb-1">
          <div class="col-12">
            <span class="card-title h2">{{ lh.stats['num_total'] }}</span
            ><span class="text-secondary"> cards</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <div class="col-md-4">
    <!-- Card -->
    <div class="card card-hover-shadow h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-secondary">Estimated Duration</h6>
        <div class="row align-items-center mb-1">
          <div class="col-12">
            <span class="card-title h2">{{ lh.stats['num_minutes'] }}</span
            ><span class="text-secondary"> minutes</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>

{% if lh.stats['num_total'] > 0 %}
<h4 class='text-secondary'>Set up your session</h4>
<div class="row form-row">
  <div class="form-group col-md-4">
    <label for="numLearnLabel" class="col-md-12 px-0">
      {{ start_form.num_learn.label }}
    </label>
    <div class='row ml-0'>
      {{ start_form.num_learn(id='inputNumLearn', class='col-sm-3 form-control') }}
      <a id="btnRandomCardList" class="col-sm-5 offset-md-1 btn btn-outline-secondary">Random cards</a>
    </div>
  </div>
</div>

<form action="" method="post">
  {{ start_form.hidden_tag() }}
  <input type="hidden" name="mode" value="start" />
  <input id="cardsSelected" type="hidden" name="cardsSelected" value="" />
  <div class="row form-row">
    <div class="form-group col-md-3">
      <label for="numRandomLearnedLabel" class="col-md-12 px-0">
        {{ start_form.num_random_learned.label }}
      </label>
      <div class='row ml-0'>
        {{ start_form.num_random_learned(class='col-sm-4 form-control') }}
      </div>
    </div>
  </div>
  <div class="row form-row mb-lg-4">
    <div class="form-group col-md-2">
      {{ start_form.submit(class='btn btn-primary col-md-12') }}
    </div>
  </div>
</form>

<hr>
<h4 class='text-secondary'>Cards to learn</h4>
<div id="cardList" class="row"></div>

{% else %}
<h2>You have no card to learn today!</h2>
{% endif %}
{% endblock %}

{% block scripts %} {{ super() }}
<script>
  $(".cardBack").hide();

  function getCards() {
    /* Call to back-end to get a random list of cards based on user input num learn
    */
    let numLearn = $("#inputNumLearn").val();
    $.ajax({
      url:
        "{{ url_for('main.get_cards') }}?num_learn=" + numLearn,
      type: "GET",
    })
      .done(function (response) {
        // Clear list of selected cards so that new random ones can populate
        $("#cardsSelected").val("");
        if (response.meta.status == "OK") {
          $("#cardList").html("");
          let cards = response.data.cards;
          console.log(`Get ${cards.length} cards`);
          for (i in cards) {
            let cardId= cards[i].id;
            let cardDisplayURL = `{{ url_for('main.card_display_box') }}?card_id=${cardId}`;
            $.ajax({
              url: cardDisplayURL,
              type: "GET",
            })
              .done(function(htmlCard) {
                $("#cardList").append(htmlCard);
                $(".cardBack").hide();
                // Commnunicate the selected cards to learn to back-end by
                // appending them to list of selected cards in hidden input value of start_form
                let cardsSelected = $("#cardsSelected").val();
                $("#cardsSelected").val(cardsSelected + "," + cardId);
              })
              .fail(function () {
                console.log(`Can not call ${cardDisplayURL}`);
              })
          };
        }
      })
      .fail(function () {
        console.log("Can not call main.get_cards");
      });
  }

  // Trigger at GET before_learning to get all available cards to learn
  getCards();
  $("#btnRandomCardList").click(getCards);
</script>
{% endblock %}
