<div class="col-md-4" id="cardContainer" card_id="{{ card.id }}">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="d-flex">
        <div class="d-inline-block">
          <a
            class="card-title"
            style="height: calc(var(--lh) * 2)"
            href="{{ url_for('main.card_profile', card_id=card.id) }}"
          >
            {{ card.front }}
          </a>
        </div>
        <div class="mr-auto"></div>
        <div class="d-inline-block m-0 p-0 btn-group dropright">
          <div
            id="btnGroupDrop1"
            style="opacity: 0.4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {% include 'icons/three_dots.html' %}
          </div>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a
              class="dropdown-item small"
              href="{{ url_for('main.edit_card', card_id=card.id) }}"
              >Edit</a
            >
            <a
              class="dropdown-item small"
              data-toggle="modal"
              data-target="#deleteModal"
              >Delete</a
            >
          </div>
        </div>
      </div>
      <p class="cardBack card-text tinymce-display small" style="height: 150px">
        {{ card.back }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-auto"></div>
        <div class="flex-column">
          <small class="d-flex justify-content-start text-secondary mr-1">Mastery</small>
          <div class="d-flex">
            {% with mastery_level = (card.learn_spaced_rep.bucket - 1) %}
              {% include 'icons/mastery_level.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this card?</p>
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('main.delete_card', card_id=card.id) }}">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
