<div class="col-md-4" id="card-{{ card.id }}" card-id='{{ card.id }}'>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h6 class="card-title" style="height: 30px"><a href="{{ url_for('main.edit_card', card_id=card.id) }}">{{ card.preview_front() }}</a></h6>
            <p class="card-text tinymce-display small" style="height: 150px">{{ card.display_back() }}</p>
            <div class="d-flex justify-content-between align-items-center">
                {% if deck is not defined %}
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-primary" href="{{ url_for('main.deck_profile', deck_id=card.deck.id) }}">
                        {% include 'icons/deck.html' %}
                        {{ card.deck.name }}
                    </a>
                </div>
                {% endif %}
                <div class='mr-auto'></div>
                {% if card.next_date %}
                <small class="text-muted mr-3">{{ card.next_date.strftime('%Y-%m-%d') }}</small>
                {% endif %}
                <small class="text-muted">{% include 'icons/bucket.html' %} {{ card.bucket }}</small>
            </div>
        </div>
    </div>
</div>
