{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <h3> Quickly create a new card </h3>
    {% include "_create_card.html" %}
    {% endif %}
    <br>
    <h3> Recently updated cards </h3>
    <div class="album py-2">
        <div class="row">
            {% for card in cards %}
            {% include 'card.html' %}
            {% endfor %}
        </div>
    </div>
    {% include '_pagination.html' %}
    {% if not current_user.get_task_in_progress('export_cards') %}
    <p>
        <a href="{{ url_for('main.export_cards') }}">
            {{ 'Export your cards' }}
        </a>
    </p>
    {% endif %}
{% endblock %}
