{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <h3> Quickly create a new card </h3>
    {% include "_edit_card.html" %}
    {% endif %}
    <br>
    <h3> Recently updated cards </h3>
    <table class="table table-hover">
        <tr>
            <th>Deck</th>
            <th>Definition</th>
            <th>Explanation</th>
            <th>Next date</th>
            <th>Bucket</th>
            <th>Example</th>
            <th>Source</th>
            <th></th>
        </tr>
        {% for card in cards %}
            {% include '_card.html' %}
        {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&larr;</span> Newer cards
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    Older cards <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% if not current_user.get_task_in_progress('export_cards') %}
    <p>
        <a href="{{ url_for('main.export_cards') }}">
            {{ 'Export your cards' }}
        </a>
    </p>
    {% endif %}
{% endblock %}