{% extends "base.html" %}

{% block app_content %}
{% if card is not none %}
<div class='container' id="card-{{ card.id }}" card-id='{{ card.id }}'>
    <div class="col-lg-6 offset-md-3">
        <div class="row mb-3">
            <div class="progress w-100" style='height: 25px'>
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ cursor + 1 }}"
                    aria-valuemin="0" aria-valuemax="{{ size }}"
                    style="width: {{ (cursor + 1) * 100 / size }}%">
                    {{ cursor + 1 }} / {{ size }}
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Deck {{ card.deck.name }}</h4>
        </div>
        <div class='row'>
            <div class="card w-100">
                <div class="card-body">
                    <p class="card-title">{{ card.front }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p>Bucket <span class="badge badge-secondary">{{ card.bucket }}</span></p></li>
                </ul>
                <p class="card-body card-text" style="display: none; background-color:rgb(216, 234, 246); height: 150px; font-size: small" id='displayTarget'></p>
            </div>
        </div>
        <div id="backPlaceholder" class="row" style="height: 150px"></div>
    <div class="row mt-4">
        <div class="col mb-2">
            <a class="btn btn-outline-secondary btn-block" id="displayBtn" card_id="{{ card.id }}">Display</a>
        </div>
        <div class="col mb-2" id='fail'>
            <p class='btn btn-danger btn-block'>Fail</p>
        </div>
        <div class="col-md-12" id="next" style="display:none">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <input id="nextInput" type="hidden" name="button" value="next">
                <p>{{ form.next(class='btn btn-outline-secondary btn-block') }}</p>
            </form>
        </div>
        <div class="col" id="ok">
            <p class='btn btn-primary btn-block'>OK</p>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}