{% extends "base.html" %}

{% block app_content %}
<div class="bd-example">
    <h3>Collections</h3>
    {% for tag in market_tags %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ tag.name }}
                {% if tag.name in user_tag_names %}
                <a class="btn btn-secondary float-right">Claimed</a>
                {% else %}
                <a href="{{ url_for('main.claim_collection', tag_id=tag.id) }}" class="btn btn-primary float-right">Claim</a>
                {% endif %}
            </h5>
            <p class="card-text"><em>{{ tag.description }}</em></p>
        </div>
    </div>
    {% endfor %}
</div>

{% include '_pagination.html' %}
{% endblock %}